# Import Dependencies for Data Cleanup

In [1]:
import os
import pandas as pd
import numpy as np

# Import Air Quality Index CSV Files for Data Cleanup
Create connection to csv files and load all data into a pandas dataframe. Drop unnecessary columns and any null data values.

In [2]:
aqi2018_df = pd.read_csv("Data/annual_aqi_by_county_2018.csv") #1056 rows
aqi2017_df = pd.read_csv("Data/annual_aqi_by_county_2017.csv") #1062 rows
aqi2016_df = pd.read_csv("Data/annual_aqi_by_county_2016.csv") #1054 rows
aqi2015_df = pd.read_csv("Data/annual_aqi_by_county_2015.csv") #1061 rows
aqi2014_df = pd.read_csv("Data/annual_aqi_by_county_2014.csv") #1054 rows
aqi2013_df = pd.read_csv("Data/annual_aqi_by_county_2013.csv") #1062 rows

In [3]:
frames = [aqi2018_df, aqi2017_df, aqi2016_df, aqi2015_df, aqi2014_df, aqi2013_df]
joined_aqi_df= pd.concat(frames)
joined_aqi_df.head()
#6439 rows

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Baldwin,2018,270,245,25,0,0,0,0,97,50,35,0,0,214,0,56,0
1,Alabama,Clay,2018,110,103,7,0,0,0,0,64,45,27,0,0,0,0,110,0
2,Alabama,Colbert,2018,277,251,26,0,0,0,0,93,50,35,0,0,209,0,68,0
3,Alabama,DeKalb,2018,350,316,34,0,0,0,0,84,50,35,0,0,317,0,33,0
4,Alabama,Elmore,2018,222,203,19,0,0,0,0,71,49,33,0,0,222,0,0,0

In [4]:
joined_aqi_df = joined_aqi_df.rename(columns={"State" : "state",
                                       "County" : "county",
                                       "Year" : "year",
                                       "Days with AQI" : "days_with_aqi",
                                       "Good Days" : "good_days",
                                       "Moderate Days" : "moderate_days",
                                       "Unhealthy for Sensitive Groups Days" : "unhealthy_sensitive_days",
                                       "Unhealthy Days" : "unhealthy_days",
                                       "Very Unhealthy Days" : "very_unhealthy_days",
                                       "Hazardous Days" : "hazardous_days",
                                       "Max AQI" : "max_aqi",
                                       "90th Percentile AQI" : "90th_pct_aqi",
                                       "Median AQI" : "median_aqi",
                                       "Days CO" : "days_co",
                                       "Days NO2" : "days_no2",
                                       "Days Ozone" : "days_ozone",
                                       "Days SO2" : "days_so2",
                                       "Days PM2.5" : "days_pm2.5",
                                       "Days PM10" : "days_pm10",
                                       })
morethan100 = joined_aqi_df["days_with_aqi"] > 100
aqi_df = joined_aqi_df[morethan100]
aqi_df = aqi_df.drop("days_co", 1)
aqi_df = aqi_df.drop("days_no2", 1)
aqi_df = aqi_df.drop("days_ozone", 1)
aqi_df = aqi_df.drop("days_so2", 1)
aqi_df = aqi_df.drop("days_pm2.5", 1)
aqi_df = aqi_df.drop("days_pm10", 1)

In [5]:
aqi_df.head()

,state,county,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,90th_pct_aqi,median_aqi
0,Alabama,Baldwin,2018,270,245,25,0,0,0,0,97,50,35
1,Alabama,Clay,2018,110,103,7,0,0,0,0,64,45,27
2,Alabama,Colbert,2018,277,251,26,0,0,0,0,93,50,35
3,Alabama,DeKalb,2018,350,316,34,0,0,0,0,84,50,35
4,Alabama,Elmore,2018,222,203,19,0,0,0,0,71,49,33

In [6]:
# joined_aqi_df.to_csv("../totalaqi_bycounty.csv")

# Import Air Monitor CSV files for Data Cleanup

In [7]:
mon2018 = pd.read_csv("Data/annual_conc_by_monitor_2018.csv")
mon2017 = pd.read_csv("Data/annual_conc_by_monitor_2017.csv")
mon2016 = pd.read_csv("Data/annual_conc_by_monitor_2016.csv")
mon2015 = pd.read_csv("Data/annual_conc_by_monitor_2015.csv")
mon2014 = pd.read_csv("Data/annual_conc_by_monitor_2014.csv")
mon2013 = pd.read_csv("Data/annual_conc_by_monitor_2013.csv")

In [8]:
frames = [mon2018, mon2017, mon2016, mon2015, mon2014, mon2013]
air_mon = pd.concat(frames)
air_mon.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,75th Percentile,50th Percentile,10th Percentile,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,1 HOUR,...,0.054,0.044,0.030,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2019-02-12
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.049,0.039,0.026,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2019-02-12
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.049,0.039,0.026,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2019-02-12
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.048,0.039,0.026,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2019-02-12
4,1,3,10,88101,1,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,24 HOUR,...,8.600,6.600,4.000,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2019-04-26

In [9]:
ozone_df = air_mon.loc[air_mon['Parameter Name'] == "Ozone"]
ozone_df = ozone_df.loc[ozone_df['Sample Duration'] == "8-HR RUN AVG BEGIN HOUR"]
ozone_df_filt = ozone_df[[                      
                          'Parameter Name',
                          'Year',
                          'Units of Measure',
                          'Arithmetic Mean',
                          'Local Site Name',
                          'State Name',
                          'County Name'
                         ]]

In [10]:
ozone_df_filt = ozone_df_filt.rename(columns={"Parameter Name" : "parameter_name",
                                              "Year" : "year",
                                              "Units of Measure" : "units_of_measure",
                                              "Arithmetic Mean" : "arithmetic_mean",
                                              "Local Site Name" : "local_site_name",
                                              "State Name" : "state",
                                              "County Name" : "county"})
ozone_df_filt.head()

,parameter_name,year,units_of_measure,arithmetic_mean,local_site_name,state,county
1,Ozone,2018,Parts per million,0.039977,"FAIRHOPE, Alabama",Alabama,Baldwin
2,Ozone,2018,Parts per million,0.039977,"FAIRHOPE, Alabama",Alabama,Baldwin
3,Ozone,2018,Parts per million,0.039614,"FAIRHOPE, Alabama",Alabama,Baldwin
13,Ozone,2018,Parts per million,0.037956,MUSCLE SHOALS,Alabama,Colbert
14,Ozone,2018,Parts per million,0.037956,MUSCLE SHOALS,Alabama,Colbert

# Import FIPS county codes and append to existing DataFrames

In [11]:
fips_df = pd.read_excel("Data/FIPS_excel.xlsx", dtype=str)

In [12]:
fips_df = fips_df.rename(columns = {"Name" : "county",
                                    "State" : "state_abbr",
                                    "State Name" : "state",
                                   "FIPS" : "fips"})
fips_df.head()

    fips   county state_abbr    state
0  01001  Autauga         AL  Alabama
1  01003  Baldwin         AL  Alabama
2  01005  Barbour         AL  Alabama
3  01007     Bibb         AL  Alabama
4  01009   Blount         AL  Alabama

In [13]:
fips_df["state_county"] = fips_df["state"].map(str) + "_" + fips_df["county"]

In [14]:
fips_df.head()

    fips   county state_abbr    state     state_county
0  01001  Autauga         AL  Alabama  Alabama_Autauga
1  01003  Baldwin         AL  Alabama  Alabama_Baldwin
2  01005  Barbour         AL  Alabama  Alabama_Barbour
3  01007     Bibb         AL  Alabama     Alabama_Bibb
4  01009   Blount         AL  Alabama   Alabama_Blount

# Map state and county to existing DataFrames

In [15]:
aqi_df["state_county"] = aqi_df["state"].map(str) + "_" + aqi_df["county"]
aqi_df.head()

,state,county,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,90th_pct_aqi,median_aqi,state_county
0,Alabama,Baldwin,2018,270,245,25,0,0,0,0,97,50,35,Alabama_Baldwin
1,Alabama,Clay,2018,110,103,7,0,0,0,0,64,45,27,Alabama_Clay
2,Alabama,Colbert,2018,277,251,26,0,0,0,0,93,50,35,Alabama_Colbert
3,Alabama,DeKalb,2018,350,316,34,0,0,0,0,84,50,35,Alabama_DeKalb
4,Alabama,Elmore,2018,222,203,19,0,0,0,0,71,49,33,Alabama_Elmore

In [16]:
ozone_df_filt["state_county"] = ozone_df_filt["state"].map(str) + "_" + ozone_df_filt["county"]
ozone_df_filt.head()

,parameter_name,year,units_of_measure,arithmetic_mean,local_site_name,state,county,state_county
1,Ozone,2018,Parts per million,0.039977,"FAIRHOPE, Alabama",Alabama,Baldwin,Alabama_Baldwin
2,Ozone,2018,Parts per million,0.039977,"FAIRHOPE, Alabama",Alabama,Baldwin,Alabama_Baldwin
3,Ozone,2018,Parts per million,0.039614,"FAIRHOPE, Alabama",Alabama,Baldwin,Alabama_Baldwin
13,Ozone,2018,Parts per million,0.037956,MUSCLE SHOALS,Alabama,Colbert,Alabama_Colbert
14,Ozone,2018,Parts per million,0.037956,MUSCLE SHOALS,Alabama,Colbert,Alabama_Colbert

# Join FIPS code to all existing DataFrames

In [17]:
fips_ozone_df = pd.merge(ozone_df_filt, fips_df, on="state_county")
fips_ozone_df = fips_ozone_df.rename(columns={"state_x" : "state",
                                                "county_x" : "county"})
fips_ozone_df = fips_ozone_df.drop("county_y", 1)
fips_ozone_df = fips_ozone_df.drop("state_y", 1)
fips_ozone_df.head()

,parameter_name,year,units_of_measure,arithmetic_mean,local_site_name,state,county,state_county,fips,state_abbr
0,Ozone,2018,Parts per million,0.039977,"FAIRHOPE, Alabama",Alabama,Baldwin,Alabama_Baldwin,01003,AL
1,Ozone,2018,Parts per million,0.039977,"FAIRHOPE, Alabama",Alabama,Baldwin,Alabama_Baldwin,01003,AL
2,Ozone,2018,Parts per million,0.039614,"FAIRHOPE, Alabama",Alabama,Baldwin,Alabama_Baldwin,01003,AL
3,Ozone,2017,Parts per million,0.040086,"FAIRHOPE, Alabama",Alabama,Baldwin,Alabama_Baldwin,01003,AL
4,Ozone,2017,Parts per million,0.040086,"FAIRHOPE, Alabama",Alabama,Baldwin,Alabama_Baldwin,01003,AL

In [66]:
# Each county for each year has more than one measurement. We need to take the average of all those measurements.
final_ozone_df = fips_ozone_df.groupby(['state_county',
                                        'fips',
                                        'parameter_name',
                                        'year'
                                       ])['arithmetic_mean'].mean().reset_index()

In [70]:
final_ozone_df

            state_county   fips parameter_name  year  arithmetic_mean
0        Alabama_Baldwin  01003          Ozone  2013         0.039118
1        Alabama_Baldwin  01003          Ozone  2014         0.040734
2        Alabama_Baldwin  01003          Ozone  2015         0.039598
3        Alabama_Baldwin  01003          Ozone  2016         0.040586
4        Alabama_Baldwin  01003          Ozone  2017         0.040033
5        Alabama_Baldwin  01003          Ozone  2018         0.039856
6        Alabama_Colbert  01033          Ozone  2013         0.039038
7        Alabama_Colbert  01033          Ozone  2014         0.038793
8        Alabama_Colbert  01033          Ozone  2015         0.036542
9        Alabama_Colbert  01033          Ozone  2016         0.041138
10       Alabama_Colbert  01033          Ozone  2017         0.038530
11       Alabama_Colbert  01033          Ozone  2018         0.037946
12        Alabama_Elmore  01051          Ozone  2013         0.038515
13        Alabama_Elmore  01051          Ozone  2014         0.040303
14        Alabama_Elmore  01051          Ozone  2015         0.037579
15        Alabama_Elmore  01051          Ozone  2016         0.042717
16        Alabama_Elmore  01051          Ozone  2017         0.037071
17        Alabama_Elmore  01051          Ozone  2018         0.037595
18        Alabama_Etowah  01055          Ozone  2013         0.038993
19        Alabama_Etowah  01055          Ozone  2014         0.040609
20        Alabama_Etowah  01055          Ozone  2015         0.039321
21        Alabama_Etowah  01055          Ozone  2016         0.045823
22        Alabama_Etowah  01055          Ozone  2017         0.041270
23        Alabama_Etowah  01055          Ozone  2018         0.041785
24       Alabama_Houston  01069          Ozone  2013         0.037407
25       Alabama_Houston  01069          Ozone  2014         0.040059
26       Alabama_Houston  01069          Ozone  2015         0.036223
27       Alabama_Houston  01069          Ozone  2016         0.037905
28       Alabama_Houston  01069          Ozone  2017         0.035387
29       Alabama_Houston  01069          Ozone  2018         0.037874
...                  ...    ...            ...   ...              ...
4541    Wyoming_Sublette  56035          Ozone  2013         0.047806
4542    Wyoming_Sublette  56035          Ozone  2014         0.047823
4543    Wyoming_Sublette  56035          Ozone  2015         0.047495
4544    Wyoming_Sublette  56035          Ozone  2016         0.046022
4545    Wyoming_Sublette  56035          Ozone  2017         0.050379
4546    Wyoming_Sublette  56035          Ozone  2018         0.049522
4547  Wyoming_Sweetwater  56037          Ozone  2013         0.049258
4548  Wyoming_Sweetwater  56037          Ozone  2014         0.048649
4549  Wyoming_Sweetwater  56037          Ozone  2015         0.048780
4550  Wyoming_Sweetwater  56037          Ozone  2016         0.047341
4551  Wyoming_Sweetwater  56037          Ozone  2017         0.047169
4552  Wyoming_Sweetwater  56037          Ozone  2018         0.046256
4553       Wyoming_Teton  56039          Ozone  2013         0.047122
4554       Wyoming_Teton  56039          Ozone  2014         0.046255
4555       Wyoming_Teton  56039          Ozone  2015         0.045584
4556       Wyoming_Teton  56039          Ozone  2016         0.044189
4557       Wyoming_Teton  56039          Ozone  2017         0.047004
4558       Wyoming_Teton  56039          Ozone  2018         0.048448
4559       Wyoming_Uinta  56041          Ozone  2013         0.049695
4560       Wyoming_Uinta  56041          Ozone  2014         0.048720
4561       Wyoming_Uinta  56041          Ozone  2015         0.048735
4562       Wyoming_Uinta  56041          Ozone  2016         0.047081
4563       Wyoming_Uinta  56041          Ozone  2017         0.049280
4564       Wyoming_Uinta  56041          Ozone  2018         0.050208
4565      Wyoming_Weston  56045          Ozone  2013         0.050743
4566      Wyoming_Weston  56045          Ozone  2014         0.047157
4567      Wyoming_Weston  56045          Ozone  2015         0.045851
4568      Wyoming_Weston  56045          Ozone  2016         0.046132
4569      Wyoming_Weston  56045          Ozone  2017         0.046188
4570      Wyoming_Weston  56045          Ozone  2018         0.047354

[4571 rows x 5 columns]

In [22]:
final_aqi_df = pd.merge(aqi_df, fips_df, on="state_county")
final_aqi_df = final_aqi_df.rename(columns={"state_x" : "state",
                                                "county_x" : "county"})
final_aqi_df = final_aqi_df.drop("county_y", 1)
final_aqi_df = final_aqi_df.drop("state_y", 1)
goodperc = final_aqi_df["good_days"]/final_aqi_df["days_with_aqi"]*100
modperc = final_aqi_df["moderate_days"]/final_aqi_df["days_with_aqi"]*100
unsentperc = final_aqi_df["unhealthy_sensitive_days"]/final_aqi_df["days_with_aqi"]*100
unhealthperc = final_aqi_df["unhealthy_days"]/final_aqi_df["days_with_aqi"]*100
vunhealthperc = final_aqi_df["very_unhealthy_days"]/final_aqi_df["days_with_aqi"]*100
hazperc = final_aqi_df["hazardous_days"]/final_aqi_df["days_with_aqi"]*100
final_aqi_df["good_percentage"] = goodperc
final_aqi_df["moderate_percentage"] = modperc
final_aqi_df["unhealthy_sensitive_percentage"] = unsentperc
final_aqi_df["unhealthy_percentage"] = unhealthperc
final_aqi_df["very_unhealthy_percentage"] = vunhealthperc
final_aqi_df["hazardous_percentage"] = hazperc
final_aqi_df.head()

,state,county,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,...,median_aqi,state_county,fips,state_abbr,good_percentage,moderate_percentage,unhealthy_sensitive_percentage,unhealthy_percentage,very_unhealthy_percentage,hazardous_percentage
0,Alabama,Baldwin,2018,270,245,25,0,0,0,0,...,35,Alabama_Baldwin,01003,AL,90.740741,9.259259,0.000000,0.0,0.0,0.0
1,Alabama,Baldwin,2017,270,241,28,1,0,0,0,...,36,Alabama_Baldwin,01003,AL,89.259259,10.370370,0.370370,0.0,0.0,0.0
2,Alabama,Baldwin,2016,279,247,32,0,0,0,0,...,37,Alabama_Baldwin,01003,AL,88.530466,11.469534,0.000000,0.0,0.0,0.0
3,Alabama,Baldwin,2015,264,230,33,1,0,0,0,...,38,Alabama_Baldwin,01003,AL,87.121212,12.500000,0.378788,0.0,0.0,0.0
4,Alabama,Baldwin,2014,280,232,46,2,0,0,0,...,38,Alabama_Baldwin,01003,AL,82.857143,16.428571,0.714286,0.0,0.0,0.0

# Import SQLite and load dataframe onto database

In [56]:
import sqlite3

In [67]:
db = sqlite3.connect("db/air_quality_db_bl_test9.sqlite")

In [68]:
final_aqi_df.to_sql("aqi_bycounty", db, if_exists="append", index=False)\

In [69]:
final_ozone_df.to_sql("ozone_bycounty", db, if_exists="append", index=False)

# Create Plotly Graphs in Python before migrating to JS

In [ ]:
! pip3 install plotly

In [ ]:
import plotly.graph_objects as go

In [ ]:
aqi_2018 = final_aqi_df.loc[final_aqi_df["year"] == 2018, :]
goodperc = aqi_2018["good_days"]/aqi_2018["days_with_aqi"]
modperc = aqi_2018["moderate_days"]/aqi_2018["days_with_aqi"]
unsentperc = aqi_2018["unhealthy_sensitive_days"]/aqi_2018["days_with_aqi"]
unhealthperc = aqi_2018["unhealthy_days"]/aqi_2018["days_with_aqi"]
vunhealthperc = aqi_2018["very_unhealthy_days"]/aqi_2018["days_with_aqi"]
hazperc = aqi_2018["hazardous_days"]/aqi_2018["days_with_aqi"]
aqi_2018["good_percentage"] = goodperc
aqi_2018["moderate_percentage"] = modperc
aqi_2018["unhealthy_sensitive_percentage"] = unsentperc
aqi_2018["unhealthy_percentage"] = unhealthperc
aqi_2018["very_unhealthy_percentage"] = vunhealthperc
aqi_2018["hazardous_percentage"] = hazperc
aqi_2018 = aqi_2018.sort_values(by=["good_percentage"])
aqi_2018.head()

In [ ]:
fig = go.Figure()
fig.add_trace(go.Bar(
    y= aqi_2018["state_county"],
    x= aqi_2018["good_percentage"],
    name='Good Days',
    orientation='h',
    marker=dict(
        color='rgb(25, 100, 126)')
    )
)
fig.add_trace(go.Bar(
    y= aqi_2018["state_county"],
    x= aqi_2018["moderate_percentage"],
    name='Moderate Days',
    orientation='h',
    marker=dict(
        color='rgb(17,157,164)')
    )
)
fig.add_trace(go.Bar(
    y= aqi_2018["state_county"],
    x= aqi_2018["unhealthy_sensitive_percentage"],
    name='Unhealthy Sensitive Days',
    orientation='h',
    marker=dict(
        color='rgb(255,177,36)')
    )
)
fig.add_trace(go.Bar(
    y= aqi_2018["state_county"],
    x= aqi_2018["unhealthy_percentage"],
    name='Unhealthy Days',
    orientation='h',
    marker=dict(
        color='rgb(75,63,114)')
    )
)
fig.add_trace(go.Bar(
    y= aqi_2018["state_county"],
    x= aqi_2018["very_unhealthy_percentage"],
    name='Very Unhealthy Days',
    orientation='h',
    marker=dict(
        color='rgb(198,63,114)')
    )
)
fig.add_trace(go.Bar(
    y= aqi_2018["state_county"],
    x= aqi_2018["hazardous_percentage"],
    name='Hazardous Days',
    orientation='h',
    marker=dict(
        color='rgb(207,68,65)')
    )
)
# fig.update_yaxes(range = [0,1000])
fig.update_layout(title_text = "Air Quality Proportions by County",
                  barmode='stack',
                  height = 15000,
                  width = 1000)
fig.show()